/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 */


/* Start SUSY Grid */
$susy: (
  columns: 12,  // The number of columns in your grid
  gutters: 2/3, // The size of a gutter in relation to a single column
  column-width: 3em,
  use-custom: (
    clearfix: true
  )
);

$gray: #414141;
$lighter-gray: #5a5a5a;
$teal: #00e7ad;
$blue: #1470e7;
$orange: #ff5f00;
$light-orange: #ff9e00;

$transition-time: .25s;
/* End SUSY Grid */

.container {
  @include container;
}

html {
  height: 100%;
}

body {
  // font-family: 'Merriweather', serif;
  font-family: 'Merriweather Sans', serif;
  height: 100% !important;
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

#typed-cursor{
  opacity: 1;
  font-weight: 100;
  // add prefixes
  @include animation(blink .7s infinite)
}

span.light-orange { color: $light-orange; }
span.orange { color: $orange; }

body > header {
  background: $gray; /* Old browsers */
  background: -moz-linear-gradient(top, $lighter-gray 0%, $gray 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$lighter-gray), color-stop(100%,$gray)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $lighter-gray 0%, $gray 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $lighter-gray 0%, $gray 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $lighter-gray 0%, $gray 100%); /* IE10+ */
  background: linear-gradient(to bottom, $lighter-gray 0%, $gray 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#{$lighter-gray}", endColorstr="#{$gray}",GradientType=0 ); /* IE6-9 */
}

body > footer {
  background-color: $gray;
  .down-triangle {
    border-top: 20px solid white;
  }
}

.nav {
  float: right;
  ul {
    margin-left: 0;
    list-style: none;
    li {
      @include transition(line-height $transition-time ease);
      float: left;
      margin-left: 2em;
      line-height: 2.4;
      a {
        @include transition(color $transition-time ease);
        text-decoration: none;
        font-weight: bold;
        color: white;
        &:hover { color: $teal; }
        &.nav-call-action {
          @include transition(background-color $transition-time ease, padding $transition-time ease);
          text-transform: uppercase;
          font-size: 80%;
          font-weight: normal;
          color: white;
          padding: 1em 1em;
          @include border-radius(4px 4px);
          background-color: $orange;
          &:hover {
            color: $orange;
            background-color: white;
          }
        }
      }
    }
  }
}


.header-content-wrapper {
  height: 100%;
  // position: absolute;
  background-image: url('/assets/images/dist/home-header-back.jpg');
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}

.home-content {
  h2 {
    margin: 0;
    padding: 3em 0 1em 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  h3 {
    text-align: center;
    font-weight: 300;
    font-style: italic;
    color: $lighter-gray;
  }
}

.header-text {
  position: absolute;
  left: 0;
  top: 20%;
  font-size: 200%;
  width: 100%;
  text-align: center;
  h2, h3 {
    margin: 0;
    color: white;
    @include text-shadow(1px 1px 1px black);
  }
  h1 {
    @include text-shadow(1px 1px 2px black);
    margin: 0;
    color: $teal;
  }
}

@mixin icons {
  display: inline-block;
  list-style: none;
  li {
    float: left;
    margin: 0 1em;
    a {
      font-size: 80%;
      @include text-shadow(1px 1px 2px black);
      @include transition(color $transition-time ease);
      text-decoration: none;
      color: white;
      &:hover { color: $teal; }
    }
  }

}

.header-icons{
  @include icons;
  padding: .5em;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, .25);
  @include border-radius(10px 10px);
}

.footer-icons {
  @include icons;
  margin: 0;
  li { line-height: 2.2em; }
}

hr.header-hr {
  width: 50%;
  border: 0;
  margin-left: 25%;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
}

.spanner {
  width: 100%;
}

.sticky {
  @include transition(height $transition-time ease);
  z-index: 100;
  border-bottom: 2px solid $teal;
  height: 70px;
  top: 100%;
  left: 0;
  position: absolute;
  margin-top: -70px;
  img {
    @include transition(width $transition-time ease);
    margin-top: .5em;
    width: 60px;
  }
  &.affixed {
    position: fixed;
    top: 0;
    margin-top: 0;
  }
  &.mini {
    height: 40px;
    img {
      margin-top: .5em;
      width: 30px;
    }
    .nav {
      li {
        line-height: .4;
        a.nav-call-action {
          padding: .4em 1em;
        }
      }
    }
  }
}

.home-offerings-wrapper {
  @include container;
  margin-top: 4em;
  margin-bottom: 4em;
}
@mixin offering-link($color){
  background-color: $color;
  border-color: $color;
  &:hover {
    color: $color;
  }
}

.home-offerings {
  @include span(4 of 12);
  text-align: center;

  .icon-wrapper {
    width: 100%;
    padding: 3em 0;
    background-color: rgb(237,237,237);
    @include border-radius(10px 10px);
  }
  i {
    @include transition(all .125s ease);
    font-size: 800%;
    display: inline-block;
    position: relative;
    top: 0;
  }

  a {
    @include border-radius(10px 10px);
    @include transition(all .125s ease);
    @include box-sizing(border-box);
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 3em;
    margin: 1em 0;
    line-height: 3em;
    border: 2px solid white;
    &.development {
      @include offering-link($teal);
    }
    &.design {
      @include offering-link($blue);
    }
    &.training {
      @include offering-link($orange);
    }
    &:hover {
      background-color: white;
    }
  }
}

.home-offerings + .home-offerings + .home-offerings { @include last; }

.home-about {
  width: 100;
  background-color: $gray;
  h2 {
    padding: 0;
    color: $teal;
    text-align: left;
  }
  color: white;
  .container { padding: 4em 0; }
  .down-triangle {
    border-top: 20px solid white;
  }
}

.down-triangle {
  position: absolute;
  left: 50%;
  display: inline;
  margin-left: -20px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

}

.up-triangle {
  position: absolute;
  left: 50%;
  display: inline-block;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-top: -20px;
  border-bottom: 10px solid $gray;
}

.home-picture {
  @include span(3);
  img {
    position: relative;
    top: 0; left: 0;
    width: 100%;
    @include box-shadow(4px 4px 10px $lighter-gray);
  }
}

.home-about-desc {
  @include span(9 last);
  p {
    font-size: 90%;
    font-weight: 300;
  }
}

.orange-learn-more {
  @include transition(all $transition-time ease);
  @include box-sizing(border-box);
  display: inline-block;
  background-color: $orange;
  color: white;
  font-weight: bold;
  padding: .5em 1.25em;
  text-decoration: none;
  border: 2px solid $orange;
  &:hover {
    color: $orange;
    background-color: white;
  }
}

.home-projects {
  .down-triangle {
    border-top: 20px solid $gray;
  }
}

.footer-content {
  @include span(6);
  color: white;
  font-size: 70%;
}

.footer-logos {
  @include span(6 last);
  ul { float: right; }
}

.home-projects-list {
  @include container;
  text-align: center;
  padding-bottom: 4em;
  .orange-learn-more {
    margin-top: 1em;
  }
}

.home-project {
  position: relative;
  @include span(3);
  &:nth-of-type(4n+3) { @include last; }
  padding-bottom: 3em;
  text-align: center;
  .project-image {
    position: relative;
    @include box-shadow(4px 4px 10px $lighter-gray);
    background-size: cover;
    background-position: center center;
    height: 10em;
    width: 100%;
    a.project-hover {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      p {
        visibility: hidden;
        font-weight: bold;
        line-height: 10em;
        color: $light-orange;
        @include text-shadow(1px 1px 2px black);
      }
      &:hover {
        p { visibility: visible; }
        background-color: rgba(20, 112, 231, .8);
      }
    }
  }
}

.site-title {
  @include transition(bottom $transition-time ease);
  position: absolute;
  left: 10%;
  bottom: 0;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  color: $teal;
  width: 80%;
  padding: .5em 0;
  font-size: 90%;
  z-index: -1;
  background-color: $gray;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    display: inline-block;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-top: -1em;
    border-bottom: 10px solid $gray;
  }
}
