/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 */


/* Start SUSY Grid */
$susy: (
  columns: 12,  // The number of columns in your grid
  gutters: 2/3, // The size of a gutter in relation to a single column
  column-width: 3em,
  use-custom: (
    clearfix: true
  )
);

$gray: #333333;
$lighter-gray: #5a5a5a;
$teal: #00e7ad;
$blue: #1470e7;
$orange: #ff5f00;
$light-orange: #ff9e00;

$opaque-orange: rgba(255, 95, 0, .8);

// blog Item colorscheme

$blog-programming-concepts: #4cd964;
$blog-front-end: #ff3b30;
$blog-ruby: #ff2d55;
$blog-javascript: #ffcc00;
$blog-how-things-work: #5ac8fa;
$blog-tools: #8e8e93;
$blog-random: #5856d6;
$blog-non-tech: #ff9500;

$blog-darken-ratio: 5%;

$first-breakpoint: 876px;
$mid-breakpoint: 650px;
$second-breakpoint: 425px;

$transition-time: .25s;
/* End SUSY Grid */

@mixin responsive-padding {
  @media screen and (max-width: $first-breakpoint){
    padding: 0 1em;
  }
}

@mixin project-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  line-height: 2;
  color: $teal;
  @include transition(color .25s ease);
  @include perspective-origin(50% 100%);
  @include perspective(600px);
  &:before, &:after {
    position: absolute;
    top: 0;
    left: -4px;
    z-index: -1;
    box-sizing: content-box;
    padding: 0 4px;
    width: 100%;
    height: 100%;
    content: '';
  }
  &:before {
    background-color: $teal;
    @include transition(transform .25s);
    @include transition-timing-function(cubic-bezier(0.7,0,0.4,1));
    @include rotateX(90deg);
    @include transform-origin(50%, 100%);
  }
  // &:after {
  //   border-bottom: 2px solid $teal;
  // }

  &:hover, &:focus {
    // color: $blue;
    color: white;
    &:before {
      @include rotateX(0deg);
    }
  }
}

@mixin four-three-two-one {
  @include span(3);
  &:nth-of-type(4n+4) { @include last; }

  @media screen and (max-width: $first-breakpoint) and (min-width: $mid-breakpoint){
    &:nth-of-type(4n+4) {
      margin-right: gutter();
      float: left;
    }
    @include span(4);
    &:nth-of-type(3n+3) { @include last; }
  }

  @media screen and (max-width: $mid-breakpoint){
    &:nth-of-type(3n+3) {
      margin-right: gutter();
      float: left;
    }
    @include span(6);
    &:nth-of-type(2n+2) { @include last; }
  }
}

// States
.is-accessible-hidden {
  position: absolute;
  left: -9999em;
}

.container {
  @include container;
}

#content {
  outline: none;
}

.container-padding { @include responsive-padding; }

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100% !important;
}

body.admin-bar .sticky.affixed {
  top: 28px;
}

html.lte-ie9 {
  #about-responsive,
  .entry-title-link-extra
  .entry-content {
    a {
      &:before { background-color: white !important; }
      &:hover { color: $blue !important; }
    }
  }
}

a:focus { outline: 1px solid #ffa500; }

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.typed-cursor{
  opacity: 1;
  font-weight: 100;
  // add prefixes
  @include animation(blink .7s infinite)
}

span.light-orange { color: $light-orange; }
span.orange { color: $orange; }
span.blue { color: $blue; }

body > header {
  background: $gray; /* Old browsers */
}

footer.main-footer {
  position: relative;
  background-color: $gray;
  z-index: 10;
  .down-triangle {
    border-top: 20px solid white;
  }
}
.nav-wrapper {
  float: right;
}

.sidr { width: 175px; }

.nav {
  ul {
    margin: 0;
    list-style: none;
    position: relative;
    padding: 0;
    @include clearfix;
    li {
      @include transition(line-height $transition-time ease);
      float: left;
      padding: 0 1em;
      line-height: 1.4;
      a {
        display: inline-block;
        @include transition(all $transition-time ease);
        line-height: 3.6;
        text-decoration: none;
        font-weight: bold;
        color: white;
        &:hover, &:focus { color: $teal; }
      }
      &.nav-call-action {
        padding-right: 0;
      }
      &.nav-call-action a {
        @include transition(all $transition-time ease);
        text-transform: uppercase;
        font-size: 80%;
        font-weight: normal;
        color: white;
        background-color: $orange;
        padding: 0 1em;
        margin-right: 0em;
        margin-top: .4em;

        &:hover, &:focus {
          color: $orange;
          background-color: white;
        }
      }
      &.nav-call-action.current-menu-item a {
        color: $orange;
        background-color: white;
      }
      &.current-menu-item > a { color: $teal; }

      .sub-menu {
        @include accessible_hidden;
        width: 400px;
        padding: 0;
        margin: 0;
        background-color: $blue;
        top: 100%;
        &:before, &:after {
          content: '';
          height: 2em;
          width: 3000px;
          position: absolute;
          top: 0;
          background-color: $blue;
        }

        &:before {
          right: 100%;
        }

        &:after {
          left: 100%;
        }
      }

      li {
        margin: 0;
        // padding: 0 .5em;
        // background-color: $gray;
        // width: 10em;
        background-color: $blue;
        display: block;
        // margin-right: 1.5em;
        padding: 0 1em;
        a {
          line-height: 2 !important;
          font-weight: normal;
        }
      }

      &:hover, &:focus {
        .sub-menu {
          left: 0;
        }
      }
    }
  }
}

.sub-menu.is-active {
  left: 0 !important;
}

.header-content-wrapper {
  height: 100%;
  @media screen and (max-width: $second-breakpoint){
    height: auto;
  }
  position: relative;
}
.header-content-image {
  position: fixed;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
  background-color: black;
  // background-image: url('/assets/images/dist/home-header-back.jpg');
  // background-size: cover;
  // background-position: center 100%;
}

.home-content {
  position: relative;
  background-color: white;
  h2 {
    margin: 0;
    padding: 3em 1em 1em 1em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  h3 {
    text-align: center;
    font-weight: 300;
    color: $lighter-gray;
  }
}

.header-text {
  font-size: 200%;
  @media screen and (max-width: $second-breakpoint){
    padding-top: 2em;
  }
  padding-top: 1em;
  max-width: 18em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, .6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D000000,endColorstr=#4D000000);
  h2, h3 {
    margin: 0;
    color: white;
    @include text-shadow(1px 1px 1px black);
  }
  h1 {
    @include text-shadow(1px 1px 2px black);
    margin: 0;
    color: $teal;
  }
  @media screen and (max-width: $mid-breakpoint){
    h1 { font-size: 125%; }
    h2 { font-size: 110%; }
    h3 { font-size: 80%; }
  }
}

@mixin icons {
  display: inline-block;
  list-style: none;
  li {
    float: left;
    margin: 0 1em;
    a {
      font-size: 80%;
      @include text-shadow(1px 1px 2px black);
      @include transition(color $transition-time ease);
      text-decoration: none;
      color: white;
      &:hover, &:focus { color: $teal; }
    }
  }

}

.header-icons{
  @include icons;
  padding: .5em;
  margin: 1em 0 0 0;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: $mid-breakpoint){
    li {
      font-size: 80%;
      margin: 0 .5em;
    }
  }
}

.footer-icons {
  @include icons;
  margin: 0;
  li { line-height: 2.2em; }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

hr.short {
  width: 5em;
  text-align: left;
  border-top: 3px solid $blue;
}

hr.header-hr {
  width: 50%;
  border: 0;
  margin-left: 25%;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
}

.spanner {
  width: 100%;
}

.sticky {
  @include transition(height $transition-time ease);
  z-index: 100;
  border-bottom: 2px solid $teal;
  height: 55px;
  top: 100%;
  left: 0;
  @media screen and (max-width: $first-breakpoint){ left: auto; }
  position: absolute;
  margin-top: -55px;
  img {
    @include transition(width $transition-time ease);
    margin-top: .5em;
    width: 50px;
  }
  &.affixed {
    position: fixed;
    top: 0; left: auto;
    margin-top: 0;
  }
  &.mini {
    #mobile-navigation {
      ul { margin: .25em 0; }
    }
    height: 40px;
    img {
      margin-top: .5em;
      width: 30px;
    }
    .nav {
      li {
        a {
          line-height: 2.65;
          display: inline-block;
        };
        &.nav-call-action {
          // padding-right: 0;
          a {
            line-height: 2.4;
            margin-top: .4em;
            // margin-right: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $first-breakpoint){
  .sticky.mini {
    height: 50px;
    img {
      width: 40px;
    }
  }
}

#navigation {
  display: inline-block;
  @media screen and (max-width: $first-breakpoint){
    display: none;
  }
}

#mobile-navigation {
  display: none;
  @media screen and (max-width: $first-breakpoint){
    display: inline-block;
  }
  li {
    // font-size: 200%;
    padding: 0;
  }
}

.line-one {
  top: 7px;
}
.line-two {
  top: 14px;
}
.line-three {
  top: 21px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: white;
}

.hamburger-box {
  display: block;
}

#responsive-menu-icon {
  padding: 9px 0;
  outline: none;
  // opacity: 1;
  // display: block;
  // position: relative;
  // width: 35px;
  // height: 35px;
  // @include transition(transform $transition-time ease);
  // span {
  //   @include transition(all 0.35s ease-in-out);
  //   height: 3px;
  //   width: 25px;
  //   background-color: white;
  //   display: block;
  //   position: absolute;
  //   right: 0;
  //   opacity: 1;
  // }
  // &.active-mobile {
  //   span.line-one {
  //     top: 14px;
  //     @include rotate(45deg);
  //   }
  //   span.line-two {
  //     top: 14px;
  //     @include rotate(45deg);
  //   }
  //   span.line-three {
  //     top: 14px;
  //     @include rotate(-45deg);
  //   }
  // }
}

.home-offerings-wrapper {
  @include container;
  margin-top: 4em;
  margin-bottom: 4em;
}
@mixin offering-link($color){
  background-color: $color;
  border-color: $color;
  &:hover, &:focus {
    color: $color;
  }
}

.home-offerings + .home-offerings + .home-offerings { @include last; }

.home-offerings {
  @include span(4 of 12);
  @media screen and (max-width: $mid-breakpoint){
    &:nth-of-type(n+3) {
      margin-right: gutter();
      float: left;
    }
    @include span(12);
  }
  text-align: center;

  .icon-wrapper {
    position: relative;
    top: 0; left: 0;
    width: 100%;
    padding: 3em 0;
    @media screen and (max-width: $second-breakpoint){
      padding: 1.5em 0;
    }
    background-color: rgb(237,237,237);
  }
  i {
    @include transition(all .125s ease);
    font-size: 800%;
    display: inline-block;
    position: relative;
    top: 0;
    color: black;
  }

  a {
    @include transition(all .125s ease);
    @include box-sizing(border-box);
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 3em;
    margin: 1em 0;
    line-height: 3em;
    border: 2px solid white;
    &.development {
      @include offering-link($teal);
    }
    &.design {
      @include offering-link($blue);
    }
    &.training {
      @include offering-link($orange);
    }
    &:hover, &:focus {
      background-color: white;
    }
  }
}

.home-about {
  position: relative;
  width: 100%;
  background-color: $gray;
  h2 {
    padding: 0;
    color: $teal;
    text-align: left;
  }
  color: white;
  .container { padding: 4em 0 3em 0; }
  .down-triangle {
    border-top: 20px solid white;
  }
}

.down-triangle {
  position: absolute;
  left: 50%;
  top: 0;
  display: inline;
  margin-left: -20px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

}

.up-triangle {
  position: absolute;
  left: 50%;
  display: inline-block;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-top: -20px;
  border-bottom: 10px solid $gray;
}

.home-picture {
  @include span(3);
  img {
    margin-bottom: 1em;
    position: relative;
    top: 0; left: 0;
    width: 100%;
  }
  @media screen and (max-width: $mid-breakpoint){
    @include span(12);
    img {
      width: 50%;
      display: inline-block;
      position: inherit;
      margin-left: 25%;
      margin-right: 25%;
    }
  }
}

.home-about-desc {
  @include span(9 last);
  @media screen and (max-width: $mid-breakpoint){
    text-align: center;
    h2 { text-align: center; }
    @include span(12);
    margin-right: auto;
    float: left;
  }
  p {
    line-height: 1.5em;
    font-weight: 300;
  }
}

.orange-learn-more {
  @include transition(all $transition-time ease);
  @include box-sizing(border-box);
  display: inline-block;
  background-color: $orange;
  color: white;
  font-weight: bold;
  padding: .5em 1.25em;
  text-decoration: none;
  border: 2px solid $orange;
  &:hover, &:focus {
    color: $orange;
    background-color: white;
  }
}

.home-projects {
  position: relative;
  .down-triangle {
    border-top: 20px solid $gray;
  }
  .orange-learn-more {
    margin-top: 2em;
  }
  text-align: center;
  padding-bottom: 4em;
}

.footer-content {
  @include span(6);
  @media screen and (max-width: $mid-breakpoint){
    text-align: center;
    @include span(12);
    padding-top: 2em;
  }
  color: white;
  font-size: 70%;
}

.footer-logos {
  ul {
    float: right;
    padding: 0;
  }
  @include span(6 last);
  @media screen and (max-width: $mid-breakpoint){
    @include span(12);
    float: left;
    margin-right: auto;
    text-align: center;
    ul { float: none; }
  }
}

.home-projects-list {
  @include container;
  text-align: center;
}

.home-project {
  @include four-three-two-one;
  position: relative;
  padding: 2em 0;
  text-align: center;
  z-index: 5;
  .project-image {
    position: relative;
    @include box-shadow(4px 4px 10px $lighter-gray);
    background-size: cover;
    background-position: center center;
    height: 10em;
    width: 100%;
    a.project-hover {
      display: inline-block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      p {
        visibility: hidden;
        font-weight: bold;
        line-height: 10em;
        margin: 0;
        color: white;
        @include text-shadow(1px 1px 1px black);
      }
      &:hover, &:focus {
        p { visibility: visible; }
        background-color: rgba(20, 112, 231, .9);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC1470e7,endColorstr=#CC1470e7);
      }
    }
  }
}

p.site-title {
  @include transition(bottom $transition-time ease);
  margin: 0;
  position: absolute;
  font-weight: 300;
  left: 10%;
  bottom: 0;
  @media screen and (max-width: $first-breakpoint){ bottom: -3.5em; }
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  color: $teal;
  width: 80%;
  padding: .5em 0;
  font-size: 80%;
  @media screen and (max-width: $second-breakpoint){ font-size: 70%; }
  z-index: -1;
  background-color: $gray;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    display: inline-block;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-top: -1em;
    border-bottom: 10px solid $gray;
  }
}

.icon2-play {
  margin-left: .3em;
  font-size: 80%;
}

.subpage-header-image {
  position: fixed;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 380px;
  z-index: -5;
  @media screen and (max-width: $second-breakpoint){ height: 228px }
}

.subpage-title {
  width: 100%;
  background-color: $opaque-orange;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCff5f00,endColorstr=#CCff5f00);
  padding: 3em 0 1em 0;
  margin-top: -2em;
  h1 {
    margin: 0;
    color: white;
    text-transform: uppercase;
  }
}

.subpage-header-overlay {
  width: 100%;
  height: 380px;
  z-index: -5;
  @media screen and (max-width: $second-breakpoint){ height: 228px }
}

#main-content.plain {
  padding-top: 2em;
}
#main-content {
  // @include responsive-padding;
  background-color: white;
}

.slide {
 height: 70em;
 width: 100%;
 background-size: cover;
 background-attachment: fixed;
 background-position: center center;
}

#slide1 {
  .content {
    @include span(6 last);
    @include pre(6);
    text-align: center;
    h1  {
      position: relative;
      top: 0; left: 0;
      background-color: rgba(0, 0, 0, .25);
      @include border-radius(10px 10px);
      margin-top: 3em;
      font-size: 5em;
      @include text-shadow(1px 1px 2px black);
      color: $teal;
    }
    h3 {
      position: relative;
      top: 0; left: 0;
      @include text-shadow(2px 2px 4px black, -2px -2px 4px black);
      color: white;
    }
    p {
      line-height: 2;
      position: relative;
      top: 0;
      left: 0;
      margin-top: 20em;
      padding: 1em;
      background-color: rgba(0, 0, 0, .55);
      @include border-radius(10px 10px);
      text-align: right;
      color: white;
    }
  }
}

#slide2 {
  height: 6em;
  background-color: $gray;
  h2 {
    width: 100%;
    padding: 1em;
    font-size: 200%;
    color: $teal;
    text-align: center;
    margin: 0;
    letter-spacing: 0;
  }
}

#slide3 {
  position: relative;
  overflow: hidden;
  .contents {
    z-index: 5;
    line-height: 2;
    position: fixed;
    width: 100%;
    top: 4em;
    left: 0;
    div[class^=content- ]{
      position: relative;
      top: 0; left: 0;
      @include span(4);
      opacity: 0;
      color: white;
      p { padding: 1em; }
      @include text-shadow(1px 1px 1px black);
      @include border-radius(10px 10px);
    }
    .content-1 { 
      background-color: rgba(0, 231, 173, .7);
      .hi { border-bottom: 2px solid $orange; }
    }
    .content-2 { background-color: rgba(20, 112, 231, .7); }
    div.content-3 { 
      background-color: rgba(255, 95, 0, .7);
      @include last;
      .hi { border-bottom: 2px solid $teal; }
    }
    div.content-4 {
      @include full;
      background-color: rgba(0, 0, 0, .8);
      .hi { border-bottom: 2px solid $orange; }
    }
  }
}
#slide4 {
  position: relative;
  overflow: hidden;
}

.curtain {
  width: 100%;
  position: absolute;
  top: 0; left: 0;
  background-color: black;
  height: 100%;
}

@mixin interest-paragraph {
  padding: 1em;
  margin-top: 10em;
  line-height: 2;
  @include border-radius(10px 10px);
  .hi {
    font-weight: bold;
  }
}

#slide5 {
.content { z-index: 5; }
  h2 {
    display: inline-block;
    position: relative;
    top: 0; left: 0;
    @include text-shadow(1px 1px 1px black);
    @include border-radius(10px 10px);
    color: $blue;
    background-color: rgba(249, 249, 231, .9);
    font-size: 300%;
    padding: .5em;
    margin-top: 3em;
  }
  p {
    @include interest-paragraph;
    background-color: rgba(5, 5, 5, .80);
    color: white;
    border: 1px solid $teal;
    .hi { color: $teal; }
  }
}

#slide6 {
  z-index: 10;
  position: relative;
  @include box-shadow(0 5px 25px black);

  p {
    @include interest-paragraph;
    margin-top: 6em;
    background-color: rgba(250, 250, 250, .95);
    border: 2px solid $blue;
    .hi { color: $blue; }
  }
  img.right { margin-top: 6em; }
}

#slide7 {
  // margin-top: -8em;
  height: 8em;
  text-align: center;
}

.interest-text-wrapper {
  position: relative;
  top: 0; left: 0;
  @include full;
  &.small-left {
    @include span(9);
  }
  &.small-right {
    @include span(9 last);
  }
}

.slide {
  img {
    margin-top: 10em;
    width: 100%;
    position: relative;
    top: 0; left: 0;
    @include box-shadow(2px 2px 6px white);
    &.right {
      @include span(3 last);
    }

    &.left {
      @include span(3);
    }
  }
}

#about {
  overflow: hidden;
  @media screen and (max-width: $first-breakpoint){ display: none; }
}

#about-responsive {
  display: none;
  @media screen and (max-width: $first-breakpoint){ display: block; }
  h2 { color: $blue; }
  a { @include project-link; }
  .hi { border-bottom: 2px solid $orange; }
}
.project-screenshot {
  @include span(3);
  @media screen and (max-width: $first-breakpoint){
    @include span(6);
    &:nth-of-type(2n + 2) { @include last; }
  }
  height: 10em;
  margin-bottom: 2em;
  a {
    position: relative;
    display: block;
    // border: 3px solid transparent;
    box-sizing: border-box;
      // border: 3px solid $blue;
    height: 100%;
    @include box-shadow(4px 4px 10px $lighter-gray);

    &:hover, &:focus {
      .project-overlay { display: block; }
    }

    @media screen and (max-width: $first-breakpoint){
      &:hover, &:focus {
        .project-overlay { display: none; }
      }
    }
  }

  div.project-main {
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
  }

  div.project-overlay {
    background-color: rgba(20, 112, 231, .7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B31470e7,endColorstr=#B31470e7);
    color: white;
    display: none;
    position: absolute;
    left: 0; top: 0;
    text-align: center;
    i {
      font-size: 200%;
      line-height: 5em;
    }
    height: 100%;
    width: 100%;
  }
}

.project-screenshot:nth-of-type(4n+4) { @include last; }

.project-screenshots {
  position: relative;
  background-color: lightgray;
  .container { padding-top: 2em; }
  .down-triangle {
    border-top: 20px solid white;
    &.triangle-second {
      top: 100%;
      border-top: 20px solid lightgray;
    }
  }
}

.type-project {
  padding-bottom: 2em;
}

.entry-title {
  display: inline-block;
  color: $orange;
}

.entry-title-link {
  @include transition(color .125s ease);
  text-decoration: none;
  color: $orange;
  &:hover, &:focus { color: $blue; }
}

p.entry-title-link-extra {
  margin-left: 1em;
  display: inline-block;
  a {
    @include project-link;
  }
}

// a.project-link {
//   @include project-link;
// }

.entry-content {
  line-height: 2;
  margin-bottom: 1em;
  a {
    @include project-link;
  }

  h2 { color: $blue; }

  h3 {
    font-size: 1.25em;
  }

  img {
    max-width: 100%;
  }

  li {
    padding: .25em 0;
  }

  hr {
    width: 5em;
    text-align: left;
    border-top: 3px solid $blue;
  }

}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.posted-on {
  font-weight: 300;
  font-size: 80%;
}

.single-post {
  margin-top: 4em;
  margin-bottom: 2em;
}

.skill-category {
  h2 {
    display: inline-block;
  }
}

.category-skills-list {
  list-style: none;
  @include container;
  padding: 0; margin: 0;
  margin-bottom: 2em;
  li {
    text-align: center;
    font-size: 80%;
    display: inline-block;
    @include span(3);
    &:nth-child(4n + 4) { @include last; }
    @media screen and (max-width: $first-breakpoint) and (min-width: $second-breakpoint){
      @include span(6);
      &:nth-child(2n + 2) { @include last; }
    }
    @media screen and (max-width: $second-breakpoint){
      @include full;
    }
  }
}

.back-end-bar {
  background: $teal;
  @include background( linear-gradient(top, #01ffbf, $teal));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff01ffbf', endColorstr='#ff00e7ad', GradientType=0);
}

.front-end-bar {
  background: $blue;
  @include background( linear-gradient(top, #408cee, $blue));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff408cee', endColorstr='#ff1470e7', GradientType=0);
}

.dev-tools-bar {
  background: $orange;
  @include background( linear-gradient(top, #ff7f33, $orange));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff7f33', endColorstr='#ffff5f00', GradientType=0);
}

.skill-bar-wrapper {
  height: 2em;
  background: #f7f7f7;
  @include background( linear-gradient(top, #f5f5f5, #f9f9f9));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
  @include border-radius(5px);
  .skill-bar {
    @include border-radius(5px);
    @include box-shadow(inset 0 -1px 0 rgba(0, 0, 0, 0.15));
    height: 100%;
  }
}

.syntaxhighlighter {
  padding: 1em 0;
}

/*
 * CSS Animations
 * Don't forget to add vendor prefixes!
 */
.m-scene .scene_element {
  -webkit-animation-duration: 0.50s;
  -webkit-transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
  -webkit-animation-name: fadeIn;
}

.m-scene.is-exiting .scene_element {
  -webkit-animation-direction: alternate-reverse;
}

/*
 * Keyframes
 */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#main.home { height: 100%; }
body.home #main.site-main {
  padding-top: 8%;
  @media screen and (max-width: $second-breakpoint){
    padding-top: 0;
  }
}

input#search {
  @include transition(width .5s ease);
  color: gray;
  border: 2px solid lightgray;
  box-sizing: border-box;
  width: 175px;
  max-width: 90%;
  padding: .5em;
  &:focus {
    outline: none;
    width: 300px;
  }
}

.post-navigation {
  padding: 1em 0;
  text-align: center;
  a, span {
    display: inline-block;
    margin: 0 .2em;
  }

  a {
    @include transition(color .25s ease);
    color: $teal;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 1em;
    line-height: 1.5;
  }
  a:hover { color: $blue; }
}


.alignright {
  float: right;
  margin: 0 0 .5em .5em;
}

.alignleft {
  float: left;
  margin: 0 .5em .5em 0;
}

.no-screenshots {
  padding-bottom: 3em;
  padding-top: 1em;
  text-align: center;
  color: $lighter-gray;
}
.italics {
  font-style: italic;
}

.entry-content {
  figure {
    a, img {
      display: block;
    }

    figcaption {
      font-size: 12px;
      font-style: italic;
      color: gray;

      a {
        display: inline-block;
      }
    }
  }
}

.home-popular-list {
  position: relative;
  background-color: red;
  width: 33.333333%;
  display: block;
  float: left;
  height: 10em;
  line-height: 10em;
  text-decoration: none;
  padding: 0 2em;
  box-sizing: border-box;
  span {
    @include transition(transform .25s ease);
    @include scale(1);
    display: inline-block;
    vertical-align: middle;
    color: white;
    line-height: 1.5;
    font-size: 1.5em;
    font-weight: bold;
  }

  &:hover, &:focus {
    span {
      @include scale(1.05);
    }
  }

  @media screen and (max-width: $mid-breakpoint){
    width: 100%;
    height: 8em;
    line-height: 8em;
  }

}

.popular-item-1 {
  background-color: rgba($teal, 1);
  &:hover, &:focus {
    background-color: rgba($teal, .8);
  }
}

.popular-item-2 {
  background-color: rgba($blue, 1);
  &:hover, &:focus {
    background-color: rgba($blue, .8);
  }
}

.popular-item-3 {
  background-color: rgba($orange, 1);
  &:hover, &:focus {
    background-color: rgba($orange, .8);
  }
}

h2.home-projects-title {
  padding-bottom: 2em;
}

// Skipmenu
.skipmenu { position: relative; }

.skipmenu__item {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:active,
  &:focus,
  &:hover {
    top: 0;
    left: 0;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    background-color: $blue;
    height: auto;
    overflow: auto;
    width: 100%;
    padding: 5px;
    z-index: 300;
  }
}

.blog-item {
  // @include span(4);
  // &:nth-of-type(3n+3) { @include last; }
  width: 33.3333333333%;
  border: .5em solid white;
  height: 15em;
  // margin-bottom: 2em;
  background-color: blue;
  display: block;
  float: left;
  color: white;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  &:hover, &:focus {
    .blog-item__overlay {
      background-color: rgba(black, .3);
    }

    .blog-item__title {
      top: 30%;
    }

    .blog-item__excerpt {
      top: 55%;
      opacity: 1;
    }
  }

  @media screen and (max-width: $mid-breakpoint){
    height: 10em;
    width: 50%;
    .blog-item__title {
      font-size: 1em;
    }
    &:hover, &:focus {
      .blog-item__title {
        top: 50%;
      }
      .blog-item__excerpt {
        opacity: 0;
      }
    }
  }

  &.category-front-end {
    background-color: darken($blog-front-end, $blog-darken-ratio);
  }
  &.category-how-things-work {
    background-color: darken($blog-how-things-work, $blog-darken-ratio);
  }
  &.category-random {
    background-color: darken($blog-random, $blog-darken-ratio);
  }
  &.category-ruby {
    background-color: darken($blog-ruby, $blog-darken-ratio);
  }
  &.category-javascript {
    background-color: darken($blog-javascript, $blog-darken-ratio);
  }
  &.category-programming-concepts {
    background-color: darken($blog-programming-concepts, $blog-darken-ratio);
  }
  &.category-tools {
    background-color: darken($blog-tools, $blog-darken-ratio);
  }
  &.category-non-tech {
    background-color: darken($blog-non-tech, $blog-darken-ratio);
  }
}

.blog-item__title {
  transition: top .4s ease;
  position: absolute;
  top: 50%;
  left: 1em;
  font-size: 1.25em;
  font-weight: normal;
  width: calc(100% - 2em);
  transform: translateY(-50%);
  margin: 0;
}

.blog-item__posted-on {
  opacity: 0;
}

.blog-item__excerpt {
  transition: top .4s ease, opacity .4s ease;
  position: absolute;
  width: calc(100% - 4em);
  margin: 0;
  top: 60%;
  left: 2em;
  opacity: 0;
  font-weight: lighter;
  font-size: .9em;
}

.blog-item__overlay {
  transition: background-color .4s ease;
  background-color: transparent;
  padding: 1em;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.blog-list {
  transition: height .5s ease;
  margin-top: 2em;
  @include container;
}

.blog-filter__list-item {
  @include transition(transform .25s ease);
  padding: .75em;
  margin-right: .5em;
  margin-bottom: .75em;
  color: white;
  text-decoration: none;
  background-color: blue;
  display: inline-block;
  @include scale(1);
  @media screen and (max-width: $mid-breakpoint) {
    font-size: .8em;
  }
}

.blog-filter__list-item--is-active {
  @include scale(1.05);
}

.blog__search-wrapper {
  @include span(last 3);
  @media screen and (max-width: $mid-breakpoint) {
    @include full;
  }
}

.blog__filter-wrapper {
  @include span(9);
  @media screen and (max-width: $mid-breakpoint) {
    @include full;
  }
}

.blog-filter__heading {
  color: $blue;
}

.blog-filter__list-item--view-all {
  background-color: black;
}

.blog-filter__list-item--front-end {
  background-color: darken($blog-front-end, $blog-darken-ratio);
  &:hover, &:focus {
    background-color: darken($blog-front-end, 10%);
  }
}
.blog-filter__list-item--tools {
  background-color: darken($blog-tools, $blog-darken-ratio);
  &:hover, &:focus {
    background-color: darken($blog-tools, 10%);
  }
}
.blog-filter__list-item--how-things-work {
  background-color: darken($blog-how-things-work, $blog-darken-ratio);
  &:hover, &:focus {
    background-color: darken($blog-how-things-work, 10%);
  }
}
.blog-filter__list-item--javascript {
  background-color: darken($blog-javascript, $blog-darken-ratio);
  &:hover, &:focus {
    background-color: darken($blog-javascript, 10%);
  }
}
.blog-filter__list-item--ruby {
  background-color: darken($blog-ruby, $blog-darken-ratio);
  &:hover, &:focus {
    background-color: darken($blog-ruby, 10%);
  }
}
.blog-filter__list-item--programming-concepts {
  background-color: darken($blog-programming-concepts, $blog-darken-ratio);
  &:hover, &:focus {
    background-color: darken($blog-programming-concepts, 10%);
  }
}
.blog-filter__list-item--random {
  background-color: darken($blog-random, $blog-darken-ratio);
  &:hover, &:focus {
    background-color: darken($blog-random, 10%);
  }
}
.blog-filter__list-item--non-tech {
  background-color: darken($blog-non-tech, $blog-darken-ratio);
  &:hover, &:focus {
    background-color: darken($blog-non-tech, 10%);
  }
}
