/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 */


/* Start SUSY Grid */
$susy: (
  columns: 12,  // The number of columns in your grid
  gutters: 2/3, // The size of a gutter in relation to a single column
  column-width: 3em,
  use-custom: (
    clearfix: true
  )
);

$gray: #414141;
$lighter-gray: #5a5a5a;
$teal: #00e7ad;
$orange: #ff5f00;
/* End SUSY Grid */

.container {
  @include container;
}

html {
  height: 100%;
}

body {
  // font-family: 'Merriweather', serif;
  font-family: 'Merriweather Sans', serif;
  height: 100%;
}

body > header {
  background: $gray; /* Old browsers */
  background: -moz-linear-gradient(top, $lighter-gray 0%, $gray 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$lighter-gray), color-stop(100%,$gray)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $lighter-gray 0%, $gray 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $lighter-gray 0%, $gray 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $lighter-gray 0%, $gray 100%); /* IE10+ */
  background: linear-gradient(to bottom, $lighter-gray 0%, $gray 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#{$lighter-gray}", endColorstr="#{$gray}",GradientType=0 ); /* IE6-9 */
}

.nav {
  float: right;
  ul {
    margin-left: 0;
    list-style: none;
    li {
      @include transition(line-height .3s ease);
      float: left;
      margin-left: 2em;
      line-height: 2.4;
      a {
        @include transition(color .3s ease);
        text-decoration: none;
        font-weight: bold;
        color: white;
        &:hover {
          color: $teal;
        }
        &.nav-call-action {
          @include transition(background-color .3s ease);
          text-transform: uppercase;
          font-size: 80%;
          font-weight: normal;
          color: white;
          padding: 1em 1em;
          @include border-radius(4px 4px);
          background-color: $orange;
          &:hover {
            color: $orange;
            background-color: white;
          }
        }
      }
    }
  }
}


.header-content-wrapper {
  height: 100%;
  background-image: url('/assets/images/dist/home-header-back.jpg');
  background-size: cover;
  background-position: center bottom;
  // background-attachment: fixed;
}

.home-content {
  height: 200%;
}

.spanner {
  width: 100%;
}

.sticky {
  @include transition(height .3s ease);
  border-bottom: 2px solid $teal;
  height: 70px;
  top: 100%;
  left: 0;
  position: absolute;
  margin-top: -70px;
  img {
    @include transition(width .3s ease);
    margin-top: .5em;
    width: 60px;
  }
  &.affixed {
    position: fixed;
    top: 0;
    margin-top: 0;
  }
  &.mini {
    height: 50px;
    img {
      margin-top: .5em;
      width: 40px;
    }
    .nav {
      li {
        line-height: 1;
        a.nav-call-action {
          padding: .8em 1em;
        }
      }
    }
  }
}
