/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 54, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 64, ../sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 77, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 87, ../sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/* line 103, ../sass/partials/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  line-height: 1.5em;
}

/* line 119, ../sass/partials/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 127, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* line 140, ../sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 150, ../sass/partials/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 164, ../sass/partials/_normalize.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 171, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  line-height: 1.5em;
}

/* line 176, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
}

/* line 180, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.282em;
}

/* line 184, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
}

/* line 188, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.807em;
}

/* line 192, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 200, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 209, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 213, ../sass/partials/_normalize.scss */
blockquote {
  margin: 1.5em 40px;
}

/* line 222, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 230, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 240, ../sass/partials/_normalize.scss */
p,
pre {
  margin: 1.5em 0;
}

/* line 253, ../sass/partials/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 265, ../sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 278, ../sass/partials/_normalize.scss */
q {
  quotes: none;
}

/* line 285, ../sass/partials/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 290, ../sass/partials/_normalize.scss */
small {
  font-size: 75%;
}

/* line 300, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 307, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 311, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 327, ../sass/partials/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

/* line 332, ../sass/partials/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 342, ../sass/partials/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 351, ../sass/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 367, ../sass/partials/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 376, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 389, ../sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* line 402, ../sass/partials/_normalize.scss */
form {
  margin: 0;
}

/* line 410, ../sass/partials/_normalize.scss */
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  border-top-style: solid;
  border-top-width: 0.063em;
  padding-top: 0.462em;
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.913em;
  border-left-style: solid;
  border-left-width: 0.063em;
  padding-left: 0.875em;
  border-right-style: solid;
  border-right-width: 0.063em;
  padding-right: 0.875em;
}

/* line 426, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 444, ../sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 458, ../sass/partials/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 472, ../sass/partials/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 485, ../sass/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 497, ../sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 511, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 521, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 531, ../sass/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 541, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 555, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 102, ../sass/partials/_grid.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 112, ../sass/partials/_grid.scss */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 121, ../sass/partials/_grid.scss */
.clearfix:after {
  clear: both;
}

/* line 125, ../sass/partials/_grid.scss */
.clearfix {
  zoom: 1;
}

/* line 129, ../sass/partials/_grid.scss */
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 972px;
}
/* line 35, ../sass/partials/_grid.scss */
.container_12 .grid_1, .container_12 .grid_2, .container_12 .grid_3, .container_12 .grid_4, .container_12 .grid_5, .container_12 .grid_6, .container_12 .grid_7, .container_12 .grid_8, .container_12 .grid_9, .container_12 .grid_10, .container_12 .grid_11, .container_12 .grid_12 {
  display: inline;
  float: left;
  margin-left: 13px;
  margin-right: 12px;
}
/* line 38, ../sass/partials/_grid.scss */
.container_12 .grid_1 {
  width: 56px;
}
/* line 38, ../sass/partials/_grid.scss */
.container_12 .grid_2 {
  width: 137px;
}
/* line 38, ../sass/partials/_grid.scss */
.container_12 .grid_3 {
  width: 218px;
}
/* line 38, ../sass/partials/_grid.scss */
.container_12 .grid_4 {
  width: 299px;
}
/* line 38, ../sass/partials/_grid.scss */
.container_12 .grid_5 {
  width: 380px;
}
/* line 38, ../sass/partials/_grid.scss */
.container_12 .grid_6 {
  width: 461px;
}
/* line 38, ../sass/partials/_grid.scss */
.container_12 .grid_7 {
  width: 542px;
}
/* line 38, ../sass/partials/_grid.scss */
.container_12 .grid_8 {
  width: 623px;
}
/* line 38, ../sass/partials/_grid.scss */
.container_12 .grid_9 {
  width: 704px;
}
/* line 38, ../sass/partials/_grid.scss */
.container_12 .grid_10 {
  width: 785px;
}
/* line 38, ../sass/partials/_grid.scss */
.container_12 .grid_11 {
  width: 866px;
}
/* line 38, ../sass/partials/_grid.scss */
.container_12 .grid_12 {
  width: 947px;
}
/* line 46, ../sass/partials/_grid.scss */
.container_12 .prefix_1 {
  padding-left: 81px;
}
/* line 46, ../sass/partials/_grid.scss */
.container_12 .prefix_2 {
  padding-left: 162px;
}
/* line 46, ../sass/partials/_grid.scss */
.container_12 .prefix_3 {
  padding-left: 243px;
}
/* line 46, ../sass/partials/_grid.scss */
.container_12 .prefix_4 {
  padding-left: 324px;
}
/* line 46, ../sass/partials/_grid.scss */
.container_12 .prefix_5 {
  padding-left: 405px;
}
/* line 46, ../sass/partials/_grid.scss */
.container_12 .prefix_6 {
  padding-left: 486px;
}
/* line 46, ../sass/partials/_grid.scss */
.container_12 .prefix_7 {
  padding-left: 567px;
}
/* line 46, ../sass/partials/_grid.scss */
.container_12 .prefix_8 {
  padding-left: 648px;
}
/* line 46, ../sass/partials/_grid.scss */
.container_12 .prefix_9 {
  padding-left: 729px;
}
/* line 46, ../sass/partials/_grid.scss */
.container_12 .prefix_10 {
  padding-left: 810px;
}
/* line 46, ../sass/partials/_grid.scss */
.container_12 .prefix_11 {
  padding-left: 891px;
}
/* line 54, ../sass/partials/_grid.scss */
.container_12 .suffix_1 {
  padding-right: 81px;
}
/* line 54, ../sass/partials/_grid.scss */
.container_12 .suffix_2 {
  padding-right: 162px;
}
/* line 54, ../sass/partials/_grid.scss */
.container_12 .suffix_3 {
  padding-right: 243px;
}
/* line 54, ../sass/partials/_grid.scss */
.container_12 .suffix_4 {
  padding-right: 324px;
}
/* line 54, ../sass/partials/_grid.scss */
.container_12 .suffix_5 {
  padding-right: 405px;
}
/* line 54, ../sass/partials/_grid.scss */
.container_12 .suffix_6 {
  padding-right: 486px;
}
/* line 54, ../sass/partials/_grid.scss */
.container_12 .suffix_7 {
  padding-right: 567px;
}
/* line 54, ../sass/partials/_grid.scss */
.container_12 .suffix_8 {
  padding-right: 648px;
}
/* line 54, ../sass/partials/_grid.scss */
.container_12 .suffix_9 {
  padding-right: 729px;
}
/* line 54, ../sass/partials/_grid.scss */
.container_12 .suffix_10 {
  padding-right: 810px;
}
/* line 54, ../sass/partials/_grid.scss */
.container_12 .suffix_11 {
  padding-right: 891px;
}
/* line 58, ../sass/partials/_grid.scss */
.container_12 .alpha {
  margin-left: 0;
}
/* line 60, ../sass/partials/_grid.scss */
.container_12 .omega {
  margin-right: 0;
}
/* line 82, ../sass/partials/_grid.scss */
.container_12 .push_1, .container_12 .push_2, .container_12 .push_3, .container_12 .push_4, .container_12 .push_5, .container_12 .push_6, .container_12 .push_7, .container_12 .push_8, .container_12 .push_9, .container_12 .push_10, .container_12 .push_11,
.container_12 .pull_1, .container_12 .pull_2, .container_12 .pull_3, .container_12 .pull_4, .container_12 .pull_5, .container_12 .pull_6, .container_12 .pull_7, .container_12 .pull_8, .container_12 .pull_9, .container_12 .pull_10, .container_12 .pull_11 {
  position: relative;
}
/* line 85, ../sass/partials/_grid.scss */
.container_12 .push_1 {
  left: 81px;
}
/* line 87, ../sass/partials/_grid.scss */
.container_12 .pull_1 {
  left: -81px;
}
/* line 85, ../sass/partials/_grid.scss */
.container_12 .push_2 {
  left: 162px;
}
/* line 87, ../sass/partials/_grid.scss */
.container_12 .pull_2 {
  left: -162px;
}
/* line 85, ../sass/partials/_grid.scss */
.container_12 .push_3 {
  left: 243px;
}
/* line 87, ../sass/partials/_grid.scss */
.container_12 .pull_3 {
  left: -243px;
}
/* line 85, ../sass/partials/_grid.scss */
.container_12 .push_4 {
  left: 324px;
}
/* line 87, ../sass/partials/_grid.scss */
.container_12 .pull_4 {
  left: -324px;
}
/* line 85, ../sass/partials/_grid.scss */
.container_12 .push_5 {
  left: 405px;
}
/* line 87, ../sass/partials/_grid.scss */
.container_12 .pull_5 {
  left: -405px;
}
/* line 85, ../sass/partials/_grid.scss */
.container_12 .push_6 {
  left: 486px;
}
/* line 87, ../sass/partials/_grid.scss */
.container_12 .pull_6 {
  left: -486px;
}
/* line 85, ../sass/partials/_grid.scss */
.container_12 .push_7 {
  left: 567px;
}
/* line 87, ../sass/partials/_grid.scss */
.container_12 .pull_7 {
  left: -567px;
}
/* line 85, ../sass/partials/_grid.scss */
.container_12 .push_8 {
  left: 648px;
}
/* line 87, ../sass/partials/_grid.scss */
.container_12 .pull_8 {
  left: -648px;
}
/* line 85, ../sass/partials/_grid.scss */
.container_12 .push_9 {
  left: 729px;
}
/* line 87, ../sass/partials/_grid.scss */
.container_12 .pull_9 {
  left: -729px;
}
/* line 85, ../sass/partials/_grid.scss */
.container_12 .push_10 {
  left: 810px;
}
/* line 87, ../sass/partials/_grid.scss */
.container_12 .pull_10 {
  left: -810px;
}
/* line 85, ../sass/partials/_grid.scss */
.container_12 .push_11 {
  left: 891px;
}
/* line 87, ../sass/partials/_grid.scss */
.container_12 .pull_11 {
  left: -891px;
}
